* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.containerone {
    display: flex;
    background-color: #1f2937;
    flex-wrap: wrap;
    padding: 20px 200px;
    
}
.right {
    margin-left: auto;
    margin-bottom: 100px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: 400px;
    margin-bottom: 100px;

}
.header {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}
.big {
    font-size: 48px;
    font-weight: bolder;
    width: 350px;
    height: 300px;
}
.small {
    width: 460px;
}
.button {
    padding: 7px;
    background-color: #3882f6;
    font-weight: 800;
    justify-content: left;
    margin-right: 215px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px; 
}
.middle {
    color: #1f2937;
    padding: 50px ;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
.pics {
    display: flex;
    justify-content: space-evenly;
    margin-left: 230px;
    margin-right: 230px;  
}
.item {
    width: 160px;
    height: 162px;
    border: 4px solid #3882f6;
    border-radius: 15px;
  }
.subtext {
    display: flex;
    justify-content: space-evenly;
    margin-left: 222px;
    margin-right: 230px; 
    padding-top: 10px;
}
.text {
    height: 160px;
    width: 150px;
    text-align: center;
}
.qcon {
    display: flex;
    padding: 125px 290px;  
    flex-wrap: wrap;
    background-color: #e5e7eb;
}
.thor {
margin-left: auto;
margin-top: 10px;
margin-right: 20px;
font-weight: bolder;
font-size: 25px;
}
.quote {
font-size: 36px;
font-style: oblique;
color: #1f2937;
}
.sign {
display: flex;
background-color: #3882f6;
flex-wrap: wrap;
padding: 40px 100px;
margin: 100px 200px;
border-radius: 8px;
color: #e5e7eb;
}
.call {
    font-size: 24px;
    font-weight: bolder;
}
.su {
    border: 2px solid white;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
    font-weight: bolder;
    font-size: 18px;
}
.product {
    margin-right: 200px;
}