* {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.containerone {
    display: flex;
    background-color: #1f2937;
    flex-wrap: wrap;
    padding: 20px 200px;
    
}
.right {
    margin-left: auto;
    margin-bottom: 100px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: 400px;
    margin-bottom: 100px;

}
.header {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
}
.big {
    font-size: 48px;
    font-weight: bolder;
    width: 350px;
    height: 300px;
}
.small {
    width: 460px;
}
.button {
    padding: 7px;
    background-color: #3882f6;
    font-weight: 800;
    justify-content: left;
    margin-right: 215px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    
    
}
