@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    font-family: 'Roboto',serif;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
}
.logo {
    flex: 1 1 auto;
    padding: 16px 192px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.links {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    padding: 16px 192px;
    font-size: 18px;
    color: #e5e7eb;
}
.hero {
    display: flex;
    justify-content: center;
    padding: 32px;
    margin-top: -72px;
    background-color: #1F2937;
    align-items: center;
}
.hero-c { 
display: flex;
max-width: 500px;
margin: 64px;
flex-direction: column;
padding-right: 48px;

} 
img {
    max-width: 550px;
    max-height: 300px;
}
.hero-h {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: -48px;
}
.hero-t {
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 48px;
}
.button {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    display: flex;
    max-width: fit-content;
    flex-shrink: 0;
    padding: 5px 20px;
    border-radius: 6px;
    border: 1px solid #3882F6;
}
.info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 48px 0px 64px 0px;
}
.images {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 64px;

}
.text-container {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    gap: 64px;
}
.img-text {
    width: 155px;
    height: 160px;
    color: rgb(111, 111, 111);
    font-weight: 500;

}

.blue-images {
    width: 150px;
    height: 160px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 12px;
}
.quote-container {
    background-color: #e5e7eb ;
    padding: 128px 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote {
    max-width: 900px;
    font-size: 36px;
    font-style: oblique;
    color: #1f2937;
}
.writer {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}
.action-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    color: #e5e7eb;
    margin: 64px 210px;
    padding: 48px 128px;
    border-radius: 10px;
}
.action-text {
    margin-right: auto;
}
.bold {
    font-size: 24px;
    font-weight: bolder;
}
.button-two {
    font-size: large;
    border: 2px solid #e5e7eb;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0px;
    background-color: #1F2937;
    font-size: 18px;
    color: #e5e7eb;
}
